@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Fontdiner+Swanky);

h1 {
	font-family: 'Lobster', cursive;
	color: red;
	text-align: center;
	font-size: 60px;
	text-decoration: underline;
}

p {
	font-family: 'Fontdiner Swanky', cursive;
	color: blue;
	font-size: 30px;	
}


